<section class="add-member py-l d-flex space-center align-center">
  <h3 class="h4 mr-l h5-mobile mr-m-mobile">加入會員取得 9 折優惠</h3>
  <a href="#" class="radius-4">馬上註冊</a>
</section>
<footer class="footer py-5xl py-xl-mobile">
  <nav class="d-flex space-between mb-l container m-0a flex-direcion-column-mobile">
    <a href="index.html"><img src="/assets/images/logo.svg" alt="URBNSTEP"></a>
    <ul class="d-flex fw-md flex-direcion-column-mobile">
      <li class="mr-2xl"><a href="product.html" class="py-s pl-s-mobile">商品列表</a></li>
      <li><a href="about.html" class="py-s pl-s-mobile">品牌故事</a></li>
    </ul>
  </nav>
  <section class="pt-xl neutral-600 text-center border-top">
    <p class="mb-xxs ">Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </section>
</footer>