<header class="header">
  <nav class="d-flex align-center space-between container m-0a py-m py-s-mobile">
    <div class="d-flex align-center"> <a href="index.html" class="mr-3xl"><img src="/assets/images/logo.svg"
          alt="URBNSTEP"></a>
      <ul class="d-flex align-center fw-md">
        <li><a href="product.html" class="mr-2xl py-s">商品列表</a></li>
        <li><a href="about.html" class="py-s">品牌故事</a></li>
      </ul>
    </div>
    <a href="#"><i class="bi bi-person p-s"></i></a>
  </nav>
</header>