.add-member {
  background-color: #e8fec5;
  a {
    padding: 12px 24px;
    background-color: #212529;
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .add-member a {
    padding: 8px 16px;
  }
}

.add-member a:hover {
  background-color: #495057;
}

.footer {
  background-color: #f8f9fa;
}
