.header-index li {
  width: 50%;
  text-align: center;
}
.header-index li:first-child {
  background-color: #e8fec5;
}
.header-index li:last-child {
  background-color: #f5fee7;
}

.banner-index {
  background-image: url(/assets/images/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 289px 0 288px 10.41666%;
}
@media screen and (max-width: 767px) {
  .banner-index {
    background-image: url(/assets/images/banner-sm.png);
    padding: 155px 24px;
  }
}

.buy-now {
  background-color: #c0fa73;
  color: #212529;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 500;
}

.product {
  position: relative;
  .product-text {
    position: absolute;
    top: 0;
    left: 12px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #f5fee7;
    color: #57a203;
  }
}
@media screen and (max-width: 767px) {
  .product {
    .product-text {
      left: 8px;
    }
  }
}
.banner-index-2 {
  background-image: url(/assets/images/banner-co-branded.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
  .star {
    position: absolute;
    width: 48px;
    top: 68px;
    left: calc(50% - 397px);
  }
  .sparkle {
    position: absolute;
    width: 76px;
    bottom: 132px;
    right: calc(50% - 357px);
  }
}
@media screen and (max-width: 767px) {
  .banner-index-2 {
    padding: 64px 0;
    background-image: url(/assets/images/banner-co-branded-sm.png);
    overflow: hidden;
    .star {
      top: 32px;
      left: -20px;
    }
    .sparkle {
      bottom: 104px;
      right: -28px;
    }
  }
}

.category {
  position: relative;
  .category-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.inspiration-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.inspiration-col-4 {
  width: 33.33333%;
  padding-left: 4px;
  padding-right: 4px;
}
.inspiration-col-6 {
  width: 50%;
  padding-left: 4px;
  padding-right: 4px;
}
.inspiration-col-12 {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}
@media screen and (max-width: 767px) {
  .inspiration-row {
    flex-wrap: nowrap;
    margin-left: -8px;
    margin-right: -8px;
    img {
      min-width: 300px;
    }
  }
  .inspiration-col-4,
  .inspiration-col-6,
  .inspiration-col-12 {
    width: unset;
    padding-left: 8px;
    padding-right: 8px;
  }
}
